@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3vw !important;
}

.introGridContainer {
    text-align: center;
    height: 75svh;
    margin-top: 25svh;
}

.introQ {
    animation: fadeInAnimation ease-in 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hiddenMessage {
    background-image: url('/liquid.gif');
    background-size: cover;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    position: absolute !important;
    left: 50%;
    transform: translateX(-50%);
    top: 5px;
    font-size: 20em;
    font-family: "Bebas Neue", sans-serif;
    animation: fadeOutAnimation ease-in 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: -1;
    width: 100%;
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.optionBtns {
    display: flex;
    justify-content: space-evenly;
}

.optionBtn {
    font-size: 60px !important;
    font-family: "Bebas Neue", sans-serif !important;
    border: none !important;
}

.lastOptionBtn {
    background-image: url('/green.gif');
    background-size: cover;
    background-position: center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.lastOptionBtn:hover {
    background-image: url('/dna.gif');
    background-size: 500%;
    background-position: center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

#noBtn:hover {
    color: white !important;
    background: none !important;
    transition: 0.1s;
}

.introImg {
    width: 23vw;
    animation: rotation 4s infinite linear;
}

.introImgCol {
    animation: fadeInAnimation ease-in 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

/* CSS for Steps page */

.youAreOneContainer {
    text-align: center;
    height: 100svh;
}

.youAreOneCol {
    height: 25svh;
    display: block;
    max-width: 100%;
    align-content: center;
}

.youAreOneMidCol {
    height: 50svh;
    max-width: 100%;
    align-content: center;
}

#youAreOneText {
    font-size: 100px !important;
    margin-top: 8px;
    letter-spacing: 5px;
}

.youAreOneVideo {
    height: 50svh;
}

.youAreOneBtn {
    width: 30%;
    height: 0;
    padding-bottom: 30%;
    border-radius: 50%;
    background-image: url('/hand-circle.gif');
    background-size: cover;
    border: none;
}

.youAreOneBtn:hover {
    filter: invert(1);
}

/* Media queries for under 992px width screens */

@media (max-width: 992px) {
    .hiddenMessage {
        top: 15%;
        font-size: 200px;
    }

    .introImg {
        width: 50vw;
    }
}

/* Media queries for under 768px width screens */

@media (max-width: 768px) {
    .hiddenMessage {
        top: 30%;
        font-size: 100px;
    }

    h1 {
        font-size: 5vw !important;
    }

    .youAreOneVideo {
        width: 100%;
    }

    .youAreOneBtn {
        width: 70%;
        padding-bottom: 70%;
    }

    #youAreOneText {
        letter-spacing: 0px;
    }
}